extends head.jade
block content
  .jumbotron
    .container(style='width:50%;')
      form.form-signin(method='post' action='main')
        h2.form-signin-heading ㅇㅃ?
        label.sr-only(for='name') Name
        input#inputName.form-control(type='text', placeholder='Name', name='name', required='', autofocus='')
        label.sr-only(for='depart') Depart
        input#inputDepart.form-control(type='text', placeholder='Depart', name='depart')
        //- .checkbox
        //-   label
        //-     input(type='checkbox', value='remember-me')
        //-     |  Remember me
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Search